## Bu dosyayı kopyalayıp keystore.properties olarak kaydet.
## NOT: keystore.properties dosyasını asla git'e koyma.
## Örnek:
## storeFile=upload-keystore.jks
## storePassword=BURAYA_SIFRE
## keyAlias=upload
## keyPassword=BURAYA_SIFRE

storeFile=upload-keystore.jks
storePassword=CHANGE_ME
keyAlias=upload
keyPassword=CHANGE_ME

